<!-- Google Fonts: Lato (headings), Merriweather (body), Source Code Pro (code) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather:300,700%7CSource+Code+Pro:400,700&display=swap"
  onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather:300,700%7CSource+Code+Pro:400,700&display=swap" rel="stylesheet">
</noscript>


{{- if .Params.math }}
<!-- MathJax Configuration for Academic Equation Numbering -->
<script>
  window.MathJax = {
    tex: {
      // No 'loader' or 'packages' blocks needed anymore! The full bundle has everything enabled.
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[', '\\]']],
      tags: 'ams' /* <--- THIS ENABLES \label and \eqref */
    }
  };
</script>
<!-- Switched from tex-mml-chtml.js to tex-chtml-full.js -->
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js" crossorigin="anonymous"></script>
{{- end }}